body, html {
    height: 100%;
}

.bgimg {
    background-position: center;
    background-image: url("img/background.jpg");
    min-height: 100%;
}

.project-header {
    margin-top: 80px;
}

.green-color {
    color:#3a8f74;
}

.green-background {
    background:#3a8f74;
}

.limit-width {
    max-width: 1200px;
}

.img-button {
    border: none;
    background-color: transparent;
    outline:none;
    opacity: 0.5;
    margin: 10px;
}

.img-button:hover {
    opacity: .8;
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }